 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --purple: #5280E2;
    --green: #15cdcb;
    --bgdark: #212226;
    --gray: #E0DEDE;
    --cardBlack: #2F3034;
    --menuHeigth: 65px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: var(--bgdark);
    color: white;
}

body, button, select, text area{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 24px;
}

h1, h2{
    margin: 0;
    font-weight: 400;
}

.title-green{
    color: var(--green);
}

.text-gray{
    color: var(--gray);
}

button{
    margin-top: 40px;
    padding: 8px 35px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

header{
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .header-container{
    width: 50vw;
    height: fit-content;
    padding: 0 100px;
}

header .header-container img{
    display: none;
}

nav{
    display: flex;
    height: var(--menuHeigth);
    position: sticky;
    top: 0;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgdark);
    z-index: 99;
}

nav img{
    height: 45px;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly; /*MELHOR DO QUE COLOCAR UMA MARGEM*/
}

nav ul a{
    font-size: 22px;
    color: var(--green);
    text-decoration: none;
}

nav ul a svg{
    display: none;
}

.sobre-mim{
      display: flex;
      padding: 100px;
}

.sobre-mim .section-img{ /*DEFININDO O TAMANHO DO CONTAINER DA IMAGEM*/
    width: 50%;
    text-align: center; /*centralizando a imagem*/
    position: relative;
}

.sobre-mim .sobre-container{
    width: 50%;
    padding-right: 50px;
}

.sobre-mim .section-img img{/*DEFINNINDO O TAMANHO DA IMAGEM*/
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.sobre-mim .section-img .linha{
    width: calc(60% + 50px);
    height: calc(100% + 50px);
    position: absolute;
    top: -25px;
    left: calc(50% - 60%/2 - 25px);
    border: 1px solid var(--purple);
}

.sobre-mim .section-img .linha.verde{
    transform: rotate(-3.3deg);
    color: var(--green);
}

.servicos{
    margin: 150px 0;
    padding: 0 100px;
    text-align: center;
}

.servicos-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;/*NECESSARIO PARA QUE O ESPACAMENTO DOS CARDS NAO FICASSEM MUITO LARGOS*/
    margin: 60px auto 0; /*ALINHAMENTO DO CARD, POIS COM O MAX WIDTH ELE FICAVA AO LADO*/
}

.servicos .servicos-container .servicos-card{
    max-width: 360px;/*LARGURA MAXIMA PARA MONITORES DE 1200PX*/
    display: flex;/*PARA ALINHAR O CONTEUDO DO CARD UM ABAIXO DO OUTRO*/
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;/*ALINHAR AS IMAGENS DO CARD NO CENTER*/
    padding: 60px 25px;
    background-color: var(--cardBlack);
    border: 1px solid var(--purple);
    border-radius: 16px;
    
}

.servicos .servicos-container .servicos-card img{
    width: 90px;
    margin: 15px 0 40px;
}

.servicos-card + .servicos-card /*SELETOR IRMAO, QUANDO EU TIVER UMA CLASSE SEGUIDA DA OUTRA, O QUE TIVER DENTRO SERA APLICADO NO SEGUNDO*/{ 

    margin-left: 10px;
}

/*RESPONSIVIDADE*/

@media (max-width: 1000px){ /*TUDO O QUE ESTA SENDO FEITO AQUI, VAI SERVIR PRA BAIXO TAMBEM*/
    header .header-container{
        width: 100%;
    }

    nav{
        padding: 0 30px;
    }


    nav ul a{
        font-size: 18px;
    }

    .sobre-mim{
        flex-direction: column; /*PRA IMAGEM FICAR ABAIXO DO TEXTO*/
    }

    .sobre-mim .sobre-container, .sobre-mim .section-img{
        width: 100%;/*PERMITIR QUE CADA UM OCUPASSE TODO O ESPAÇO*/
    }

    .sobre-mim .sobre-container{
        padding-right: 0;
    }

    .sobre-mim .section-img{
        margin: 70px 0;/*DAR ESPAÇO DAS LINHAS PARA NÃO PASSAREM POR CIMA DO TEXTO*/
    }

    .servicos{
        padding: 0;
    }

    .servicos .servicos-container{
        flex-direction: column;/*DEIXANDO ELES COMO COLUNA*/
        align-items: center;/*CENTRALIZANDO ELES*/
        flex-wrap: wrap;/*FAZ COM QUE OS CARDS QUBREM AUTOMATICAMENTE*/
    }

    .servicos-card + .servicos-card /*SELETOR IRMAO, QUANDO EU TIVER UMA CLASSE SEGUIDA DA OUTRA, O QUE TIVER DENTRO SERA APLICADO NO SEGUNDO*/{ 

        margin-left: 0px;/*TIRANDO A MARGEM LATERAL*/
        margin-top: 30px;/*ADICIONANDO UMA MARGEM PARA CIMA, PARA SEPARAR ELES*/
    }
    
}

/*RESPONSIVIDADE DE TABLET. TUDO O QUE ESTIVER ACIMA VAI SER A DE DESKTOP*/
@media (max-width: 767px) {

    header .header-container img{
        display: inline;
        margin-bottom: 70px;
    }

    nav img{
        display: none;
    }

    nav ul{
        padding: 0;
    }

    nav ul a{
        font-size: 16px;
    }
}
/*CELULAR*/
@media (max-width: 480px){
    header .header-container{
        padding: 0 40px;
    }

    nav{
        position: fixed;
        width: 100%;
        padding: 0 15px;
        top: unset; /*POIS NA RESPONSIVIDADE DE DESKTOP ELE ESTÁ SETADO, ENTÃO PRECISO DIZER QUE AQUI ELE AINDA NÃO FOI DEFINIDO PARA O BOTTOM FUNCIONAR*/
        bottom: 0;
        z-index: 99;/*ADICIONADO POIS A IMAGEM NA RESOLUCAO DE CELULAR ESTAVA PASSANDO POR CIMA DO NAV DE CELULAR, E O Z-INDEX TORNA O NAV MAIS IMPORTANTE*/
    }

    nav ul a{
        font-size: 12px;
    }

    nav ul a svg{
        display: block;
        margin: 0 auto 10px;
    }

    .sobre-mim{
        padding: 40px;
    }

    .servicos{
        margin: 70px 0;
    }

    .servicos-container{
        padding: 0 20px;
    }
}
