 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --purple: #5280E2;
    --green: #15CDCB;
    --bgdark: #212226;
    --gray: #E0DEDE;

    --menuHeigth: 65px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: var(--bgdark);
    color: white;
}

body, button, select, text area{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 24px;
}

h1, h2{
    margin: 0;
    font-weight: 400;
}

button{
    margin-top: 40px;
    padding: 8px 35px;
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

header{
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .header-container{
    width: 50vw;
    height: fit-content;
    padding: 0 100px;
}

header .header-container img{
    display: none;
}

header .header-container h1{
    color: var(--green);
}

header .header-container h2, p{
    color: var(--gray);
}

nav{
    display: flex;
    height: var(--menuHeigth);
    position: sticky;
    top: 0;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgdark);
}

nav img{
    height: 45px;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly; /*MELHOR DO QUE COLOCAR UMA MARGEM*/
}

nav ul a{
    font-size: 22px;
    color: var(--green);
    text-decoration: none;
}

section{
    height: 1520px;
    background-color: #5280E2;
}

/*RESPONSIVIDADE*/

@media (max-width: 1000px){ /*TUDO O QUE ESTA SENDO FEITO AQUI, VAI SERVIR PRA BAIXO TAMBEM*/
    header .header-container{
        width: 100%;
    }

    nav{
        padding: 0 30px;
    }


    nav ul a{
        font-size: 18px;
    }
}

/*RESPONSIVIDADE DE TABLET. TUDO O QUE ESTIVER ACIMA VAI SER A DE DESKTOP*/
@media (max-width: 767px) {

    header .header-container img{
        display: inline;
        margin-bottom: 70px;
    }

    nav img{
        display: none;
    }

    nav ul{
        padding: 0;
    }

    nav ul a{
        font-size: 16px;
    }
}
/*CELULAR*/
@media (max-width: 480px){
    header .header-container{
        padding: 0 40px;
    }
}
